<header>
  <img src="assets/images/gtd_logo.png" alt="logo" />
</header>
<div class="title-banner">
  <h1 class="title-text">Hello, we're gtd.</h1>
</div>
<div class="profile-pix">
  <img src="assets/images/img_lisa_circle.png" alt="img_lisa_circle" />
  <img src="assets/images/img_danielle_circle.png" alt="img_danielle_circle" />
  <img src="assets/images/img_brian_circle.png" alt="img_brian_circle" />
</div>
<div class="content">
  <h2 class="content-title">How it started</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quasi
    eius, ducimus officiis laborum voluptatibus porro perspiciatis temporibus,
    ratione maxime, voluptate eum nostrum ex delectus quia reprehenderit at
    numquam voluptatem quae consequuntur dolor blanditiis? Nobis quos molestias,
    ea earum facere dolore deleniti pariatur delectus quaerat, veniam blanditiis
    maxime eos mollitia?
  </p>
</div>
<div class="footer-band"></div>
<footer>
  <div class="footer-section">
    <h3>Team</h3>
    <h4>Content A</h4>
    <h4>Content B</h4>
    <h4>Content C</h4>
    <br />
    <h4>Content D</h4>
  </div>
  <div class="footer-section">
    <h3>Learn More</h3>
    <h4>Content E</h4>
    <h4>Content F</h4>
    <h4>Content G</h4>
  </div>
  <div class="footer-section">
    <h3>Meet Us</h3>
    <h4>Content H</h4>
    <h4>Content I</h4>
    <h4>Content J</h4>
  </div>
  <div class="footer-section">
    <h3>Contact</h3>
    <h4>Content K</h4>
    <h4>Content L</h4>
    <h4>Content M</h4>
  </div>
</footer>
