/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

$brown: #4F4D53;
$melon: #E8BE02;

body {
  margin: 0;
}

h1 {
  color: $brown;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
}

h2 {
  color: $melon;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
}

h3 {
  color: $melon;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

P {
  color: $brown;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

